body{
  font-family:  Verdana, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: small; 
}

h2{
  color: #FF9933;
  font-size: 20px;
}

.searchBar{
  margin-left: 400px;
  img{
    padding-top: 20px;
  }
}

.introText{
  text-align: center;
}

.go-button{
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 0;
  font-size: 40px;
  background-color: #FF9933;
  color: #f2f2f2;
}

.nav-wrapper{
  li{
    padding-left: 20px;
    padding-right: 20px;
  }
}

.star-rating{
  height: 15px;
}

.underline{
  text-decoration: underline;
  color: #003399;
}

.main{
  margin: 50px;
}

.brand-logo{
  margin-left: 20px;
  margin-top: 20px;
}

.mainnav{
  height: 100px;
}

.subnav{
  height: 30px;
  line-height: 30px;
  font-color: black;
}

.price{
  font-size: 15px;
  color: #900;
  font-weight: bold;
}

.envelope{
  height: 20px;
  width: 20px;
}

.look-inside{
  text-align: right;
  margin: 10px auto;
  width: 280px;
}

.book-cover{
  border: 1px solid black;
  min-height: 410px;
  max-width: 280px;
  margin: 10px auto;
  // background-image: url('../images/subway.jpg');
  background-color: #DA3F3D;
}

.book-cover-author{
  color: white;
  font-family: 'Oswald', sans-serif;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: 38px;
  padding: 5px;
  text-transform: uppercase;
  position: relative;
  text-align: right;
}

.book-cover-title{
  font-family: 'Oswald', sans-serif;
  //text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: 50px;
  line-height: 48px;
  color: black;
  text-align: left;
  position: relative;
  text-transform: uppercase;
  top: 25px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.with{
  font-size: 16px;
  margin: 0;
}

.love{
  font-size: 68px;
}

.book-cover-subtitle{
  font-size: 12px;
  color: #f2f2f2;
  text-align: center;
  text-transform: uppercase;
}

.book-title{
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7em;
  font-weight: normal;
}

.book-profile{
  border-bottom: 1px solid lightgrey;
}

#look{
  color: #FF9933;
  font-size: 20px;
  font-weight: 600;
}

#inside{
  color: #003399;
  font-size: 16px;
  font-weight: 600;
}

.stats{
  border-bottom: 1px solid lightgrey;
}

.stats-list{

}

.expanded-view{
  text-align: center;
}

.top-matter{
  /*background-color: #FF9933;*/
  height: 100px;
}

.sidebar-top, .sidebar-bottom{
  height: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 5px;
  background: -webkit-linear-gradient(to top, #B0D16C, #E8F2D5);
  background: -moz-linear-gradient(to top, #B0D16C, #E8F2D5);
  background: linear-gradient(to top, #B0D16C, #E8F2D5);
  text-align: center;
}

.more-details{
  border-bottom: 1px solid lightgrey;
}

.more-details{ 
  li{
    list-style: circle;
  }
}

.latestTweets{
  border-bottom: 1px solid lightgrey;
}

.about-author h1{
  color: #FF9933;
  font-size: 20px;
}

.biography{
  img{
    float: left;
    margin: 10px;
  }
}

.review-row{
  background-color: #f4f4cf;
  margin: 3px;
  width: 150px;
  height: 20px;
}