<div class="content-container animated fadeIn">
  
<!--   <div class="row">
    <div class="col s12 m12 top-matter">
    
    </div>
  </div> -->
  
  <div class="row">
        
    <div class="col s3 m3">
      
      <div class="look-inside"><span id="look">Look</span> <span id="inside">inside&#8617;</span></div>
      
      <div class='book-cover z-depth-2'>
       <h1 class='book-cover-author'>{{ users.user.twitterData.name }}</h1>
       <h2 class='book-cover-title'>The {{ users.user.twitterData.description }}</h2>
       <h3 class='book-cover-subtitle'>78 TWEETS THAT COULD CHANGE YOUR LIFE</h3>
      </div>

      <div class="expanded-view">
        Click to open the expanded view<br>
        <img ng-src="{{ users.user.twitterData.profile_image_url}}" alt="{{ users.user.twitterData.name }}">
      </div>

    </div>

   <div class="col s7 m7">
    
    <div class="book-profile">
      <span class="book-title">The {{ users.user.twitterData.description }} ({{users.user.twitterData.created_at}})</span>
      <span>[Kindle Edition]</span>
      <p>
        <a class="underline" href="{{ users.user.twitterData.entities.url.urls[0].expanded_url }}">{{ users.user.twitterData.name }}</a><span class="chevron"></span> (Author)
      </p>
    </div>

    <div class="stats">

      <ul class="stats-list">
        <li>        Screen name: {{ users.user.twitterData.screen_name }}</li>
        <li>   Number of Friends:{{ users.user.twitterData.friends_count }}</li>
        <li>Number of Followers: {{ users.user.twitterData.followers_count }}</li>
        <li>  Number of Friends: {{ users.user.twitterData.friends_count }}</li>
        <li>         Written in: {{ users.user.twitterData.time_zone }}</li>
      </ul>

    </div>

    <div class="more-details">
      <ul>
        <li>Length: {{ users.user.twitterData.statuses_count }} tweets</li>
        <li>On the web: <a class="underline" href="{{ users.user.twitterData.entities.url.urls[0].expanded_url }}">{{ users.user.twitterData.entities.url.urls[0].expanded_url }}</a></li>
        <li>Don't have a Twitazon? <a class="underline" href="#authorize">Sign up here</a></li>
      </ul>
    </div>

  </div>

  <div class="col s2 m2 sidebar">
    <div class="sidebar-top">
      <md-input-container>
        <label>Search</label>
        <input type="text" ng-model="users.screenNameSearch">
      </md-input-container>
      <md-button class="md-raised md-primary md-cornered" ng-click="users.getTwitterData()">Search</md-button>
    </div>
    <div class="sidebar-bottom">bottom</div>
  </div>

  <div class="row">
    <div class="col s12 m12 about-author">
      <h1>More About The Author</h1>
      <p><a class="underline" href="{{ users.user.twitterData.url}}"> Visit {{ users.user.twitterData.name }}'s Twitter page</a></p>
      <div class="biography">
        <img ng-src="{{ users.user.twitterData.profile_image_url}}" alt="{{ users.user.twitterData.name }}">
        <p>
          screen_name has posted 78 status updates since 2007. THe latest controversial statement from screen_name has stirred debate:
            <i>"latest_status_updath"</i>
        </p>
      </div>
    </div>
  </div>
</div> 
</div>